 .jp-font{
    font-family: 'Noto Sans JP', sans-serif;
}

 .app-name{
    font-family: 'Pacifico', cursive;
}

.shelf-name{
    font-family: 'Sriracha', cursive;
}

body{
    background-image: url(/img/app/julia-caesar-254162-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main{
    flex:1;
}

footer {
    background-color: #444;
    opacity: 1.0;
    width: 100%;
    height: 70px;
    margin-top: 50px;
    text-align: center;
}

footer small{
    line-height: 70px;
    color: #FFF;
}

footer .navbar-nav li a:hover {
 color: #dcdcdc;
}

h1, h2, h3, h4, p, ul, li, label{
    color: #fff;
    }

img{
    width: 150px;
    text-align: center;
    }

.book{
    margin-bottom: 70px;
    height: 250px;
    }

#book-regist-btn{
    vertical-align: -30px;
}

.book-card{
    background-color: rgb(85, 82, 82);
    opacity: 0.4;
    border-radius: 5px;
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.book-card:hover{
  text-decoration: none;
  opacity: 0.8;
  background-color: rgb(85, 82, 82);
  }

.book-edit-wrapper{
    margin-top: 50px;
}

/*#book-regist-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}*/

/*  img {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    height: auto;
  }

  .card-content {
    padding: 20px;
  } */


/* body {
    color: #FFF;
    font-weight: bold;
    background-attachment: fixed;
    background-image: url(/img/app/james-barker-173856-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: c85, 82, 82)over;
    position: relative;
    height: 100vh;
    width: 100%;
  }

  body::before {
    background: inherit;
    content: '';
    filter: blur(5px);
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
  } */

