<div class="container">

    <!-- 本の情報変更フォーム -->
    <form action="$(Genie.Router.link_to(:update_book, id = get(@vars(:book).id)))" method="POST"
          enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="jp-font">情報を変更する</h2>
            </div>
        </div>
        <hr>

        <!-- 現在の登録情報を表示 -->
        <div class="row book-edit-wrapper">
            <div class="col-md-3 col-md-offset-1">
                <%
                """
                <img src="$( isempty(@vars(:book).cover) ? " /img/docs.png" : @vars(:book).cover )" />
                <li>タイトル：$(@vars(:book).title)</li>
                <li>出版日：$(@vars(:book).publication_date)</li>
                """
                %>
            </div>
            <div class="col-md-8">
                <!-- 変更後のタイトル -->
                <div class="row form-group">
                    <div class="col-md-8 form-group-item">
                        <label class="jp-font">本のタイトル</label>
                        <input type="text" name="book_title" placeholder="◯◯◯なJulia" class="form-control"
                               id="book_title"/>
                    </div>
                </div>
                <!-- 変更後の出版日 -->
                <div class="row form-group">
                    <div class="col-md-8 form-group-item">
                        <label class="jp-font">出版日</label>
                        <input type="text" name="book_pub_date" placeholder="YYYY-MM-DD" class="form-control"
                               id="book_pub_date"/>
                    </div>
                </div>
                <!-- 変更後の表紙画像 -->
                <div class="row form-group">
                    <div class="col-md-8 form-group-item">
                        <label class="jp-font">表紙の画像</label>
                        <input type="file" name="book_cover" id="book_cover"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- 変更ボタン -->
        <div class="row">
            <div class="col-md-12 form-group-item text-center">
                <button type="submit" class="btn btn-warning jp-font" style="margin-top:100px;">変更</button>
            </div>
        </div>
    </form>

    <!-- 本の削除フォーム -->
    <form action="$(Genie.Router.link_to(:unregister_book, id = get(@vars(:book).id)))" method="POST">
        <hr>

        <!-- 削除ボタン -->
        <div class="row">
            <div class="col-md-11 text-right">
                <p id="book-delete-txt">本を削除する</p>
            </div>
            <div class="col-md-1 text-right">
                <button type="submit" class="btn btn-danger jp-font">削除</button>
            </div>
        </div>
    </form>
</div>
