<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="jp-font">本を登録する</h2>
        </div>
    </div>
    <form action="$(Genie.Router.link_to(:create_book))" method="POST" enctype="multipart/form-data">

        <div class="row form-group">
            <div class="col-md-5 form-group-item">
                <label class="jp-font">本のタイトル</label>
                <input type="text" name="book_title" placeholder="◯◯◯なJulia" class="form-control" id="book_title"
                       required/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-5 form-group-item">
                <label class="jp-font">出版日</label>
                <input type="text" name="book_pub_date" placeholder="YYYY-MM-DD" class="form-control"
                       id="book_pub_date" required/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4 form-group-item">
                <label class="jp-font">表紙の画像</label>
                <input type="file" name="book_cover" id="book_cover"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group-item text-center">
                <button type="submit" class="btn btn-primary jp-font" style="margin-top:100px;">登録</button>
            </div>
        </div>
    </form>
</div>