<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center shelf-name">Julia Books</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <h3 class="text-left">登録数：$( length(@vars(:books)) )冊</h3>
        </div>
        <div class="col-md-7 text-right">
            <a class="btn btn-default" href="$(Genie.Router.link_to(:register_book))"
               id="book-regist-btn">本の追加</a>
        </div>
    </div>
    <hr>

    <div class="row">
        <%
        @foreach(@vars(:books)) do book
        """
        <div class="col-md-3 col-md-offset-1 book">
            <a href="$(Genie.Router.link_to(:edit_book, id = get(book.id)))">
            <img src="$( isempty(book.cover) ? " /img/docs.png" : book.cover )"/>
            <li>タイトル：$(book.title)</li>
            <li>出版日：$(book.publication_date)</li>
            </a>
        </div>
        """
        end
        %>

        <a href="$(Genie.Router.link_to(:register_book))" class="col-md-3 col-md-offset-1  book-card"><i
                class="fas fa-plus fa-5x" id="book-regist-icon"></i></a>
    </div>
</div>

<!-- In the case of using `include_partial` -->
<!--<%-->
<!--@foreach(@vars(:books)) do book-->
<!--@vars(:book, book)-->
<!--include_partial("book_item.jl.html")-->
<!--end-->
<!--%>-->

