<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>GenieBookShelf</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/application.css"/>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Pacifico|Sriracha" rel="stylesheet">
</head>

<body>
<!-- ヘッダーを設定する -->
<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand app-name" href="$(Genie.Router.link_to(:show_books))">
                    GenieBookShelf
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <p class="navbar-text navbar-right">ようこそ <a href="#" class="navbar-link">ゲスト</a> さん。</p>
            </div>
        </div>
    </nav>
</header>

<main>
    <!-- ここにテンプレートがインクルードされる -->
    <%
    @yield
    %>
</main>

<!-- フッタ−を設定する -->
<footer>
    <small id="copyright">Copyright &copy; GenieBookShelf
    </small>
</footer>

<!-- <script src="/js/application$(Main.UserApp.ASSET_FINGERPRINT).js"></script> -->
</body>
</html>
